.card {
  width: 200px;
  height: 290px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.card-info {
  padding: 8px;
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
