.recipe-page {
  display: flex;
  justify-content: center;
}

.page-content {
  width: 800px;
}

.recipe-banner {
  justify-content: center;
}

.recipe-banner > h1 {
  margin-bottom: 8px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin: 16px 0;
}

.recipe-image {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 2%;
}

.ingredients-list {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 2px;
  list-style-type: none;
  padding: 0;
}

.ingredients-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selected {
  text-decoration: line-through;
}
.unselected {
  text-decoration: none;
}

.orange-checkbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.orange-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.orange-checkbox::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  min-width: 14px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
}

.orange-checkbox.selected::before {
  background-color: var(--color-accent);
}

.instructions-list {
  list-style-type: none;
  padding: 0;
}

.step-number {
  color: white;
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 12px;
}

@media (max-width: 900px) {
  .page-content {
    width: 600px;
  }
}

@media (max-width: 640px) {
  .page-content {
    width: 414px;
  }
}

@media (max-width: 414px) {
  .page-content {
    width: 400px;
  }
}
